extends layout
mixin list
   ul
      li 合肥
      li 杭州
      li 上海 
block append content
  h1= title1
  p(style='font-size:20px;color:red;') Welcome to #{title1}
  +list
  ul
    -var aa = [12,'qwe','dfas'];
    -for pp in aa
      li #{pp}...

