- var title1 = 'hello jade'

doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
             p placeholder am i
    include basejs
